<link rel='stylesheet' href='/stylesheets/components/categories.css' />
<div class='categories background-color-main'>
    {{#each tags}}
        {{#if isChosen}}
            <a href='?tag={{tagId}}' class='category chosen'>{{tagName}}</a>
        {{else}}
            <a href='?tag={{tagId}}' class='category'>{{tagName}}</a>
        {{/if}}
    {{/each}}
</div>