<link rel="stylesheet" href="/stylesheets/commons/button.css">
<link rel="stylesheet" href="/stylesheets/style_board_borrowing.css">

<div style="margin-bottom: 10px;">Danh sách đăng kí mượn:</div>

<form class="input-group mb-3 search-input">

  <input type="text" class="form-control" placeholder="Tên người mượn" aria-label="Tìm kiếm" name="userId"
    aria-describedby="basic-addon2">
  <div class="input-group-append">
    <input class='btn btn-outline-secondary' type="submit" value="tìm kiếm" />
  </div>
</form>



<div class="container-fluid">
  <div class="row">
    <div class="col-3 search-result-acc">
      <ul style="list-style-type:none;">

        <li>{{name}}</li>
      </ul>
    </div>
    <div class="col search-result-books">
      {{!-- <ul style="list-style-type:none;">
        {{#each title}}
        <li>{{this}}</li>
        {{/each}}

      </ul> --}}

      <table class="table table-striped" style="position: relative;">
        <thead>
          <tr>
            <th scope="col">Bìa</th>
            <th scope="col">Tên Sách</th>
            <th scope="col">Tác Giả</th>
            <th scope="col">Ma Sach</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <img
                src="https://img0-placeit-net.s3-accelerate.amazonaws.com/uploads/stage/stage_image/22739/optimized_large_thumb_children-stories-book-cover-541__1_.jpg"
                width="50px" height="70px" alt="">
            </td>
            <td>Dạy làm giàu</td>
            <td>Bảo râu sì</td>
            <td><input type="text" name="" id=""></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>

<form>
  <input type="text" name='userId' value={{name}}>
  <input type="text" name='userId' value={{name}}>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Người Mượn</label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control-plaintext" placeholder={{name}}>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Ngày Mượn</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="dayBorrow">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Ngày Trả</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="dayReturn">
    </div>
  </div>


  <div class="form-group row float-right">
    <div class="col-sm-10">
      <button type="submit" class="btn bg-danger text-white btn-nowrap">Cho Mượn</button>
    </div>
  </div>
</form>
<script>
  var d = new Date();
  var day = d.getDate();
  var month = d.getMonth();
  var year = d.getFullYear();

  document.getElementById("dayBorrow").value = day + '/' + (month + 1) + '/' + year;
  document.getElementById("dayReturn").value = (day + 14) + '/' + (month + 1) + '/' + year;


</script>