<div class="container">

    <ul class="list_book" style="list-style-type:none;">
        <li class="name_row">
            <div class="row col_box">
                <div class="col-2">Bìa</div>
                <div class="col-3">Tên sách</div>
                <div class="col-2">Tác giả</div>
                <div class="col">trạng thái</div>
                <div class="col-2">Tiền phạt</div>
            </div>
        </li>

        {{#each books}}
        <li>
            <div class="row item" style="text-align: center;" data-toggle="collapse" href="#collapse_info_book_item{{@index}}"
                role="button" aria-expanded="false" aria-controls="collapse_info_book_item{{@index}}">
                <div class="col-2">
                    <img src='{{imgUrl}}'
                        width="50px" height="70px" alt="">
                </div>
                <div class="col-3">
                    {{title}}
                </div>
                <div class="col-2">
                    {{publisher}}
                </div>
                <div class="col">
                    {{#if returned}}
                        đã trả sách
                    {{else}}
                        chưa trả sách
                    {{/if}}
                </div>
                <div class="col-2">
                    {{fine}}
                </div>
            </div>
            <div class="collapse" id="collapse_info_book_item{{@index}}">
                <div class="card card-body style_card">
                    <div class="row">
                        <div class="col-3" style="padding-left: 0px;">Ngày mượn:</div>
                        <div class="col">{{date}}</div>
                    </div>
                    <div class="row">
                        <span style="padding-right: 20px;">Thông tin thêm: </span>
                        <ul style="list-style-type: disc;">

                            <li>Năm xuất bản: {{pubYear}}</li>
                            <li>isbn10: {{isbn10}}</li>
                            <li>isbn13: {{isbn13}}</li>
                        </ul>
                    </div>

                    
                    <div class="row">
                        <div class="col-10"></div>
                        <a href="/book/{{Id}}" class="col" ><button id="btn_trasach_{{@index}}" class="btn btn-primary">Xem sách</button></a>
                    </div>
                </div>
            </div>
        </li>
        {{/each}}
    </ul>
</div>