<link rel='stylesheet' href='/stylesheets/components/commentBox.css' />
<link rel='stylesheet' href='/stylesheets/components/rating.css' />
<div class="container">

    <ul class="list_book" style="list-style-type:none;">
        <li class="name_row">
            <div class="row col_box">
                <div class="col-2">Bìa</div>
                <div class="col-3">Tên sách</div>
                <div class="col-2">Tác giả</div>
                <div class="col">Trạng thái</div>
                <div class="col-3">Ngày trả</div>
            </div>
        </li>
        {{#each books}}
        <li>
            <div class="row item" style="text-align: center;" data-toggle="collapse" href="#collapse_review_book_item{{@index}}"
                role="button" aria-expanded="false" aria-controls="collapse_review_book_item{{@index}}">
                <div class="col-2">
                    <img src='{{imgUrl}}'
                        width="50px" height="70px" alt="">
                </div>
                <div class="col-3">
                    {{title}}
                </div>
                <div class="col-2">
                    {{pusblisher}}
                </div>
                <div class="col">
                    {{#if startNo}}
                        đã đánh giá
                    {{else}}
                        chưa đánh giá
                    {{/if}}
                </div>
                <div class="col-3">
                    {{date}}
                </div>
            </div>
            <div class="collapse" id="collapse_review_book_item{{@index}}">
                <div class=" style_card card card-body style_card details">

                    {{#if startNo}}
                    <div class="rating">
                        <span>☆</span>
                        <span>☆</span>
                        <span class="active">☆</span>
                        <span>☆</span>
                        <span>☆</span>
                    </div>
                    <div class="content">
                        {{content}}
                    </div>
                    {{else}}
                    <div class='content'>Trải nghiệm của bạn là như thế nào sau khi đọc cuốn sách này</div>
                    <a href="/book/{{bdId}}" style="float:right;" ><button id="btn_trasach_{{@index}}" class="btn btn-primary">Chia sẽ ngay</button></a>
                    {{/if}}
                </div>
            </div>
        </li>
        {{/each}}
    </ul>
</div>