<div class="container">

    <ul class="list_book" style="list-style-type:none;">
        <li class="name_row">
            <div class="row col_box">
                <div class="col-2">Bìa</div>
                <div class="col-4">Tên sách</div>
                <div class="col-3">Tác giả</div>
                <div class="col">Trạng thái</div>
            </div>
        </li>
        {{#each books}}
        <li onclick="location.href='/book/{{id}}';">
            <div class="row item" style="text-align: center;">
                <div class="col-2">
                    <img src='{{imgUrl}}'
                        width="50px" height="70px" alt="">
                </div>
                <div class="col-4">
                    {{title}}
                </div>
                <div class="col-3">
                    {{publisher}}
                </div>
                <div class="col">
                    có thế đến lấy
                </div>
                <!--{{#if available.total}}
                <div class="col">
                    sách đã đươc mượn hết
                </div>
                {{else}}
                <div class="col">
                    có thế đến lấy(còn {{available}})
                </div>
                {{/if}} -->
            </div>    
        </li>
        {{/each}}   
    </ul>
</div>