<link rel='stylesheet' href='/stylesheets/book.css' />
<link rel='stylesheet' href='/stylesheets/components/comment.css' />
<link rel='stylesheet' href='/stylesheets/components/rating.css' />
<script src="/javascripts/bookRating.js" defer></script>
<div class='book'>
    <h1>Thư viện khoa CNTT</h1>
    {{#with bookDescription}}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Tất cả</a></li>
            <li class="breadcrumb-item active" aria-current="page">
                {{title}}
            </li>
        </ol>
    </nav>
    <div class='info panel row'>
        <div class='cover col-3'>
            <img src="{{imgUrl}}" alt="Book cover">
        </div>
        <div class='details col-9'>
            <p class='title'>{{title}}</p>
            <div class='feedback'>
                {{> rating rate=rate}}
                <a href='#comment-section'>(Xem đánh giá)</a>
            </div>
            <div class='more'>
                <span><span class='text-bold'>Nhà phát hành</span>: {{publisher}}</span>
                {{!-- <span><span class='text-bold'>SKU</span>: 7820920626561</span> --}}
                <span><span class='text-bold'>ISBN</span>: {{isbn10}}</span>
            </div>
            <div class='booking'>
                <div class='remain'>
                    Số lượng còn lại: <span>{{total}}</span>
                </div>
                {{#if canBorrow}}
                    <a class='booking-btn' href="borrow/{{bookDescriptionId}}">
                        Đăng ký mượn sách
                    </a>
                {{else}}
                    <a class='booking-btn disable'>
                        Đăng ký mượn sách
                    </a>
                {{/if}}
            </div>
        </div>
    </div>
    <div class='description'>
        <h6 class='what'>MÔ TẢ SÁCH</h6>
        <div class='panel'>
            <p class='overview'>
                {{description}}
            </p>
        </div>
    </div>
    {{/with}}
    <div id='comment-section' class='comment-section'>
        <h6 class='what'>ĐỘC GIẢ NHẬN XÉT</h6>
        <div class='panel'>
            <div class='comments'>
                {{#each comments}}
                    {{> comment name=name avatar=avatar rate=starNo content=content}}
                {{/each}}
            </div>
            <div class='paging'>
                {{> pagination}}
            </div>
            {{#if allowComment}}
            <div class='rate row'>
                <div class='placeholder col-2'></div>
                <div class='area col-8'>{{> rating forRate=true id=rate-book}}</div>
            </div>
            <div class='opinion row'>
                <div class='placeholder col-2'></div>
                <div class='area col-8'>{{> commentBox}}</div>
            </div>
            {{/if}}
        </div>
    </div>
</div>